:root{
    --active-color: rgb(64, 158, 255); 
    }

    .clearfix:after{
        content: "020"; 
        display: block; 
        height: 0; 
        clear: both; 
        visibility: hidden;  
        }
      
      .clearfix {
        /* 触发 hasLayout */ 
        zoom: 1; 
        }
        .mr8 {
          margin-right: 8px;
        }
        .mr10 {
          margin-right: 10px;
        }
        .ml10 {
          margin-left: 10px;
        }
        .ml20 {
          margin-left: 20px;
        }
        .mt20{
          margin-top: 20px;
        }
        .mb20{
          margin-bottom: 20px;
        }
        .active {
          color: var(--active-color);
        }