.wrapper .el-breadcrumb__item:last-child .el-breadcrumb__inner {
     color: var(--active-color);
    }
    .el-breadcrumb__item:last-child .el-breadcrumb__inner a {
     color: var(--active-color);

    }
    .wrapper .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
     color: var(--active-color) !important;
    }

    .el-table th {
     background: rgb(85, 77, 77);
 }

 .el-table thead {
      color: white;
      font-weight: 600;
 }